<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Programmer Fox</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<h1>Nutrition shop</h1>
<p><a th:href="@{/}">Information</a>  |  <a th:href="@{/tricks}">Trick Center</a>  |  <a th:href="@{/shop}">Nutritions Shop</a></p>
<img th:src="${fox.profilePictureLocation}" width="200px"/>

<p th:text="'This is Mr. Fox. Currently living on '
+ ${fox.currentFood} + ' and '
+ ${fox.currentDrink} + '. He knows '
+ ${fox.listOfTricks.size()} + ' tricks'"/>

<p th:text="'Currently ' + ${foodList.size()} + ' type of food and ' + ${drinkList.size()} + ' type of drink avaiable food in the shop: '"/>


<h1 th:text="'Known tricks'"/>
<ul>
  <li>Write HTML</li>
  <li>Code in Java</li>
</ul>

</body>
</html>

<!--<span th:each="fooditem : ${foodList}"/>-->
<!--<p th:text="fooditem">-->