<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Programmer Fox</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<h1>Teaching new tricks</h1>
<p><a th:href="@{/}">Information</a>  |  <a th:href="@{/tricks}">Trick Center</a>  |  <a th:href="@{/shop}">Nutritions Shop</a></p>
<img th:src="${fox.profilePictureLocation}" width="200px"/>

<p th:text="'This is Mr. Fox. Currently living on '
+ ${fox.currentFood} + ' and '
+ ${fox.currentDrink} + '. He knows '
+ ${fox.knownListOfTricks.size()} + ' tricks'"/>

<form action="/trickslearned">
  <tr>
    <th>Tricks</th>
  </tr>
  <tr >
    <td>
      <select name="trickToLearn">
        <option th:each="trick : ${trickList}"
                th:value="${trickStat.index}"
                th:text="${trick}">
        </option>
      </select>
    </td>
    <td><input type="submit" value="Learn This Trick"/></td>
  </tr>
</form>

</body>
</html>
<!--knownTrickList-->
<!--<ul>-->
  <!--<li>Write HTML</li>-->
  <!--<li>Code in Java</li>-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->

<!--th:if="${listelement.isKing()}" th:style="'color: gold; font-weight:bold'"-->

