<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <link th:href="@{/main.css}" href="/main.css"  rel="stylesheet" type="text/css" />
  <title>Todo appliciation</title>

</head>
<body>
<h1>Todos for today</h1>
<p><a th:href="@{/todo/addtodo}">Add new Todo</a> |
  <a th:href="@{/todo}">List all Todos</a> |
  <a th:href="@{/todo/list?isActive=true}">List undone Todos</a> |
  <a th:href="@{/todo/list?isActive=false}">List done Todos</a> </p>
  <table>

    <tr>
      <th>ID</th>
      <th>ACTION</th>
      <th>IS IT DONE?</th>
      <th>IS IT URGENT?</th>
      <th>SUM: <span th:text="${todoListSize}"/> TODOS</th>
    </tr>

    <tr th:each="todoelement : ${todolist}" >
      <td th:text="'#' +${todoelement.getId()}" />
      <td th:text="${todoelement.getTitle()}" />
      <td th:text="${todoelement.isDone()}" />
      <td th:text="${todoelement.isUrgent()}" />
      <td><a th:href="'/todo/' + ${todoelement.getId()} + '/removetodo'">delete</a></td>
    </tr>
  </table>
</body>
</html>