h1 {
  height: 400px;
  width: 1100px;
  padding: 230px 0 0 250px;
  font-family: 'Source Serif Pro', serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  color: #222222;
  }
  h1 span{
    font-size: 80px;
    font-weight: 700;
    }
  h1 {
    background-image: url(images/heaser.png);
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:100px;
    }
article {
padding: 450px 10px 0px 300px;
font-family:'Josefin Slab', serif;
font-size: 20px;
color: #222222;
}
li {
  list-style-type: square;
}
.summary {
  line-height: 30px;
}
blockquote {
  height: 150px;
  width: 800px;
  /*padding: 0px 50px 0 0px;*/
  font-family: 'Source Serif Pro', serif;
  color: white;
  font-size: 50px;
  font-weight: 700;
  background-color: #444444;
  }
blockquote .q {
width: 50px;
height: 50px;
margin: 0;
font-family: 'Source Serif Pro', serif;
font-size: 90px;
top:0;
}
/*blockquote::before {
  content: "\201c";
  font-size: 100px;
}*/
/*blockquote nav {
padding: 50px 0 0 0px;
 }*/
