div {
  margin: 2px 2px 3px 3px;
  border: 16px solid #4285f4;
  padding: 0px;
  width: 348px;
  color: white;
  font-size: 36px;
}

p {
  height: 128px;
  line-height: 128px;
  text-align: center;
  border: 0px;
  margin: 0px;
  text-align: center;

}

#North {
background: #E67675;
}
#East {
background: #F4EE62;
}
#South {
background: #AAE6E6;
}
#West {
background: #7692E5;
}
