body {
  width: 800px;
  padding-left: 25px;
  font-size: 15px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ffb6c1;
}

tr:nth-child(even) {
  background-color: #dddddd;
}