<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Say Hello To The World: '"/>
<table>
  <tr th:each="listelement : ${sayHelloList}">
    <td th:style="'font-size: ' + ${listelement.size} + 'px; color: rgb(' + ${listelement.colorR} +', '+ ${listelement.colorG} + ', ' + ${listelement.colorB} + ');'"
        th:text=" ${listelement.helloType} + ' >> ' + ${listelement.name}"></td>
  </tr>
</table>
</body>
</html>
