<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit Meal | Calorie Table</title>
  <link th:href="@{/indexcss.css}" href="/indexcss.css" rel="stylesheet" type="text/css"/>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Calorie Table | Edit Meal</h1>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      Calorie table information:
      <ul>
        <li th:text="'number of meals: ' + ${mealList.size()}"></li>
        <li th:text="'total calories: ' + ${totalCalory}"></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div>
      <form action="/#" th:action="@{/addnewmeal}" method="post" th:object="${meal}">
        <div><input class="form-control" type="hidden" th:field="*{id}"/></div>
        <table class="col-md-6">
          <tr>
            <td>Date</td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="date" th:field="*{date}"/>
            </td>
          </tr>
          <tr>
            <td>Type of Food</td>
          </tr>
          <tr>
            <td>
              <select class="form-control" th:field="*{type}">
                <option th:each="mealType : ${mealTypeList}"
                        th:value="${mealType.getMealTypeName()}"
                        th:text="${mealType.getMealTypeName()}">
                </option>
              </select>
              <span class="help-block" th:if="${#fields.hasErrors('type')}"
                    th:errors="*{type}"></span>
            </td>
          </tr>
          <tr>
            <td>Description</td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="text" placeholder="description"
                     th:field="*{description}"/>
              <span class="help-block" th:if="${#fields.hasErrors('description')}"
                    th:errors="*{description}"></span>
            </td>
          </tr>
          <tr>
            <td>Calories</td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="number" placeholder="calories"
                     th:field="*{calories}"/>
              <span class="help-block" th:if="${#fields.hasErrors('calories')}"
                    th:errors="*{calories}"></span>
            </td>
          </tr>
          <tr>
            <td>
              <input class="btn btn-success btn-block" type="submit" value="Save"/>
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-warning btn-block" th:href="@{'/'}" href="/">Cancel</a>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="col-md-6">
      <img src="/pictures/ice-creams.png" width="400px"/>
    </div>
  </div>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>